* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body {
  background-image: -o-linear-gradient(120deg, #42eced 0%, #4b90e0 100%);
  background-image: linear-gradient(-30deg, #42eced 0%, #4b90e0 100%);
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}
header {
  font-size: 2rem;
}
header,
form {
  min-height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.input-form {
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur( 6px );
  -webkit-backdrop-filter: blur( 6px );
}
form {
  position: relative;
}
form::after {
  content: "";
  position: absolute;
  height: 200px;
  width: 200px;
  top: 31%;
  left: 27%;
  background-image: url(./marginalia-215.png);
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-filter: blur(2px);
  filter: blur(2px);
  opacity: 0.8;
  z-index: -1;
}
form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 10px 0 0 10px;
  -webkit-transition: background ease 0.3s;
  -o-transition: background ease 0.3s;
  transition: background ease 0.3s;
}
form input::placeholder {
  color: white;
}
form button {
  color: #ff6f47;
  background: rgba(247, 255, 254, 0.8);
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 0 10px 10px 0;
}
form button:hover {
  background: #ff6f47;
  color: white;
}
form input:hover,
form input:focus {
  background: rgba(255, 255, 255, 0.8);
}

.todo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.todo-list {
  position: relative;
  z-index: 1;
  min-width: 30%;
  list-style: none;
  padding: 30px 50px;
  overflow: hidden;
  border-radius: 30px;
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur( 6px );
  -webkit-backdrop-filter: blur( 6px );
}

.todo-list:before {
  position: absolute;
  content: "";
  z-index: -2;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: -o-linear-gradient(130deg, rgba(142, 235, 235, 1) 0%, rgba(255, 255, 255, 0.8) 100%);
  background-image: linear-gradient(-40deg, rgba(142, 235, 235, 1) 0%, rgba(255, 255, 255, 0.8) 100%);
  opacity: 1;
  -webkit-filter: blur(100px);
  filter: blur(100px);
}

.todo {
  margin: 0.5rem;
  background: white;
  font-size: 1.5rem;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  border-radius: 10px;
  overflow: hidden;
}
.filter-todo {
  padding: 1rem;
}
.todo li {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.trash-btn,
.complete-btn {
  background: rgba(255, 111, 71, 0.8);
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.complete-btn {
  background: rgba(11, 212, 162, 0.8);
}
.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

/* .fall {
  -webkit-transform: translateY(10rem) rotateZ(20deg);
  -ms-transform: translateY(10rem) rotate(20deg);
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
} */

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

/*CUSTOM SELECTOR */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

/* Custom Select */
select {
  color: #ff6f47;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 12rem;
  border-radius: 10px;
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur( 6px );
  -webkit-backdrop-filter: blur( 6px );
  opacity: 0.6;
  -webkit-transition: opacity ease 0.3s;
  -o-transition: opacity ease 0.3s;
  transition: opacity ease 0.3s;
}
.select {
  margin: 1rem;
  position: relative;
  overflow: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: rgba(255, 111, 71, 0.8);
  cursor: pointer;
  pointer-events: none;
  padding: 13.2px;
  border-radius: 0 10px 10px 0;
}

select:hover {
  opacity: 1;
}
.select_title {
  margin-right: 20px;
  cursor: default;
}
/* Transition */
/*
.select:hover::after {
  transform: scale(1.5);
}
*/
